* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font: 300 15px/1.4 Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

img {
    vertical-align: bottom;
}


h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 112px;
    cursor: pointer;
    @media (max-width: 700px) {
        text-align: center;

    }
}

h2 {
    font-size: 16px;
    color: #fff;
}

h3 {
    font-size: 14px;
    color: #fff;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 7px 0 0 0;
    color: #fff;
}

 #wrapperHeader {
    width: 100%;
    height: auto;
    background-color: #004341;
    /* height of the background image? */
     display: flex;
 } 

.header {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-around;
    vertical-align: middle;
}

.dinosaurs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;

}

.dinosaurs__item {
    width: 400px;
    height: 550px;
    border: solid 1px #004341;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 30px;
}

.dinosaurs__item img {
    max-width: 100%;
    max-height: 150px;
    min-height: 150px;
    margin: auto;
}

.dinosaurs__item .dinosaurs__item-info {
    align-self: flex-end;
    padding: 30px;
    background-color: #004341;
    max-width: 100%;
    width: 400px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 2;
    max-height: 400px;
    color: white;
}

.dinosaurs__item .dinosaurs__item-info .dinosaurs__item-title {
    font-weight: 600;
}

.strong {
    font-weight: 600;
}
